{#include jepdy/outline}
{#title}Game{/title}
<div class="container">
 <div class="container-fluid">
    <h1>Game</h1>
     <h6 id="gameid">{code}</h6>
        <div id="game"></div>
     <!--
     <div hx-sse="connect:/api/update?game={code}">
         <div hx-trigger="sse:{code}" hx-get="/jepdy/viewstate?game={code}">
             {#include jepdy/viewstate}{/include}
         </div>
     </div>
     -->
     <div id="panel">
             {#include jepdy/viewstate}{/include}
     </div>

     </div>
 </div>
</div>

<script src="/jepdy/public/js/game.js"></script>

{/include}